e16259

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
.selected {
    color: #fff;
}
.card:hover {
    background-color: #a259ff;
    color: #fff;
}
.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
   }
.card{
    padding: 30px;
    background-color: #fff;
    width: 200px;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.cardtop {
    color: rgba(0,0,0,.6);
    font-size: 14px;
    text-transform: capitalize;
  
}
.cardmid {
    font-size: 22px;
    font-weight: 700;
    margin:10px 0;
}
.cardbottom {
    color: #e16259;
    font-size: 15px;
}

.header h2 {
    cursor: pointer;
}

.navbar h2 {
   
    font-weight: 400;
    cursor: pointer;
    width: 90%;
    left: 3%;
    position: absolute;
}


   

.navbar {
    width: 100%;
    background-color: #fff;
    overflow: auto;
  }
  
  .navbar a {
    float: right;
    padding: 15px;
    color: #555;
    text-decoration: none;
    font-size: 20px; 
    margin-left: 120px;
    align-items: center;
    box-shadow: #555;
  }
  
  .navbar a:hover {
    background-color: rgb(117, 105, 105);
    text-decoration: darkorange;
    color: whitesmoke;
  }
  .box{
    padding: 60px;
    background-color: #fff;
    width: 900px;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 140px;
    align-items: center;
    grid-column-start: 1 auto;
    
  }
  .name h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.85px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #e16259;
}
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      font-size :15px;
    }
  }